#movie-img {
    width: 200px;
}

h2 {
    margin: 4px
}

p {
    margin: 0px;
}

#movie-card {
    width: 200px;
    flex-grow: 1;
    margin: 10px;
    border: solid 1px black;
    padding: 10px;
    border-radius: 10px;
    background-color: #E4B4B4;
}

#movie-card:hover {
    cursor: pointer;
    border: solid 1px #9DA993;
}